<html ng-app>
<head>
    <!--[if IE]><![endif]-->
    <meta charset="utf-8">
    <title>OneLetter : {{}}</title>
    <link rel="shortcut icon" href="/favicon.ico">
    <link rel="apple-touch-icon" href="/apple-touch-icon.png">
    <link rel="stylesheet" href="reset.css">
    <script src="https://raw.github.com/cloudhead/less.js/master/dist/less-1.3.3.min.js"></script>
    <style>
div {
  width: 200px;
  margin: 30px;
}

h2 {
  font: 400 40px/1.5 Helvetica, Verdana, sans-serif;
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li:last-child {
  border: none;
}

li {
  text-decoration: none;
  color: #000;
  display: block;
  width: 200px;
  font: 200 20px/1.5 Helvetica, Verdana, sans-serif;
  border-bottom: 1px solid #ccc;
}

li:hover {
  background: #f6f6f6;
}
.play {
  float:right;
}
    </style>
    
</head>
<body data-ng-app="onelet">
    <div data-ng-controller="mainCtrl" id="main">
      <h2>OneLetter</h2>
      <input ng-model="q" type="text" /><br />
        <ul>
            <li ng-repeat="res in data | filter:q | limitTo:7">
                <a>{{res}}&nbsp;&nbsp;&nbsp;&nbsp; </a>
                <img class="play" alt="Play Pronunciation!" src="play.png" onClick="playClip(this,'{{res}}');" />
            </li>
        </ul>
        <audio id="player">Your browser does not support HTML5 audio.</audio> 
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
    
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js" ></script>

    <script src="ol.js"></script>
</body></html>